*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: 0px 7%;
}
.navbar{
    /* border: 2px solid red; */
    background-color: rgb(249, 242, 232);
    padding: 15px;
}
@media only screen and (min-width : 300px) and (max-width: 800px)  {
    .navbar>ul>li>a{
        display:none;
        
    }
    .dropdown{
        display: revert!important;       
    }
    .dropdown>button{
        margin-right: 40px;
        border: none;
        background: url(../images/pngwing.com.png);
        cursor: pointer;
        height: 30px;
        width: 30px;
        background-size: contain;
    }
    
}

.navbar > ul {
    display: flex;
}
.navbar > ul > li{
    list-style: none;
    
}
.navbar>ul>li>a{
    padding:15px 5px;
    text-decoration: none;
    color: rgb(60, 56, 56);
    font-size: 18px;
}
.navbar>ul>li>a:hover{
    color: rgb(1, 1, 1);
    background:rgb(247, 235, 219) ;
}
.search{
    margin-left:auto;
    min-width: 100px;
    max-width: 195px;

}
.search>input{
    width: 80%;
    border-radius: 4px;
    font-size: 18px;
    padding:0px 10px 
}
.search > button{
    border: none;
    padding-top:15px;
    margin-left: 10px;
    background-color: rgb(247, 235, 219);
    background-image: url(../images/magnifying-glass.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.dropdown{
    display: none;
}